* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), black);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: none;
  justify-content: center;
  align-items: center;
}

.button {
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.rotator {
  margin: auto;
  cursor: pointer;
  color: white;
  box-shadow: 1.5vw 1vw 2vw 2vw rgba(233, 238, 233, 0.829);
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  border: 3px solid black;
  animation: circular 4s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotator:hover {
  background-color: black;
  color: white;
}

@keyframes circular {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
