*{
  box-sizing:border-box;
  margin: 0;padding: 0;
}
.body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  position:relative;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  border:2px solid black;
  min-width: 150px;
  min-height:150px;
  border-radius: 50%;
  transform:rotateX(50deg) translateY(-10px);
  /* text-align: center; */
  background-color: rgba(255, 255, 0, 0.993);
  z-index:2;
}

.top:hover{
  transform: rotateX(50deg) translateY(-2px) rotateZ(45deg) ;
  transition:transform 0.1s linear;
}

.bottom{
  border:solid 2px black;
  min-width: 150px;
  min-height:150px;
  position:absolute;
  border-radius: 50%;
  transform:rotateX(50deg) translateY(10px);
  background-color: rgba(255, 255, 0, 0.644);
}
